aiohttp==3.10.9
chainner_ext==0.3.10
discord.py==2.4.0
fuzzywuzzy==0.18.0
numpy==2.1.2
Pillow==10.4.0
spandrel==0.4.0
spandrel_extra_arches==0.2.0
torch==2.4.1+cu124
wand==0.6.11
validators>=0.34.0